body {
	margin: 0px;
	font-family: 'HelveticaNeue'
}

.main-nav{
	padding: 0px;
	margin: 0px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	background: #ffffff;
}

.main-nav li {
	list-style: none;
	float: left;
}


.main-nav a{
	margin: 10px;
	color: #444444;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-size: 13px;
}

a.Rectangle-4 {
	border-radius: 50px;
	background-color: #e66700;
	color: white;
	padding: 13px 25px;
}

.home-overlay {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background: url(../img/img-1.jpg) no-repeat fixed;
	background-position: 0px -210px, center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 510px;
}

.home-overlay h1 {
	height: 23.5px;
	font-size: 45px;
	font-weight: 500;
	line-height: 0.96;
	letter-spacing: -0.3px;
	text-align: center;
	color: #ffffff;
	color: white;
	margin: 0px 0px 20px 0px;
}

.home-overlay p {
	height: 28px;
	font-size: 35px;
	line-height: 1.7;
	text-align: center;
	color: #ffffff;
	margin: 0px 0px 20px 0px;
}

.section-hg {
	height: 726px;
}